//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^lukeskins.github.io[nc]
RewriteRule ^(.*)$ http://www.lukeskins.github.io/$1 [r=301,nc]

//301 Redirect Old File
Redirect 301 /index.html /home
Redirect 301 /about.html /about
