  <div id="page__footer">
    <div class="copyright__notice">
      <p>&copy; 2016 Luke Skinner, unless otherwise noted.</p>
    </div>

    <ul class="socialbuttons">
      <li><a href="https://www.instagram.com/lukeskins/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>
      </a></li>
      <li><a href="https://www.twitter.com/lukeskinss/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>
      </a></li>
      <li><a href="https://www.facebook.com/lukeskins" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>
      </a></li>
      <li><a href="https://github.com/Lukeskins" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>
      </a></li>

    </ul>

  </div>

</div>
