<div class="page__header">

  <div class="burger-container">
    <div id="burger">
      <div class="bar topBar"></div>
      <div class="bar btmBar"></div>
    </div>
  </div>

  <div class="header__title">
    <a href="/"><h1>L.</h1></a>
  </div>
    <ul class="page__menu">

      <li class="active__link menu-item"><a href="/">About</a></li>
      <li class="menu-item"><a href="/work">Work</a></li>
      <li class="menu-item"><a href="/blog">Blog</a></li>
      <li class="menu-item"><a href="/contact">Contact</a></li>
      </li>
    </ul>
</div>
