<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title | site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    <!--META TAGS-->
    <meta charset='UTF-8'>
    <meta name='keywords' content='portfolio, San Diego, Graphic Design, Web Development, Photography'>
    <meta name='subject' content='Luke Skinner | Portfolio Website'>
    <meta name='copyright' content='Luke Skinner'>
    <meta name='author' content='Luke Skinner, luke@lukeskinner.me'>
    <meta name='url' content='http://lukeskinner.me'>

    <!--FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
    <script src="https://use.fontawesome.com/abf3b245f8.js"></script>

    <!--STYLE-->

    <style>
      @import '/assets/css/style.css';
    </style>

    <!--ICONS-->
    <link rel="shortcut icon" href="/assets/images/icon.png">
    <link rel="apple-touch-icon" href="/assets/images/icon.png">

  </head>
