<head>
  <title>{{ page.title | site.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" >

  <!--META TAGS-->
  <meta charset='UTF-8'>
  <meta name='keywords' content='portfolio, San Diego, Graphic Design, Web Development, Photography'>
  <meta name='subject' content='Luke Skinner | Portfolio Website'>
  <meta name='copyright' content='Luke Skinner'>
  <meta name='author' content='Luke Skinner, luke@lukeskinner.me'>
  <meta name='url' content='http://lukeskinner.me'>

  <!--FONTS-->
  <link href='https://fonts.googleapis.com/css?family=Unna|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <script src="https://use.fontawesome.com/abf3b245f8.js"></script>

  <!--STYLE-->
  <link href='assets/css/style.css' rel='stylesheet'>

</head>
