<body>
  <div class="window">
    <div class="page__header">

      <div class="burger-container">
        <div id="burger">
          <div class="bar topBar"></div>
          <div class="bar btmBar"></div>
        </div>
      </div>

      <div class="header__title">
        <a href="/"><h1>L.</h1></a>
      </div>
        <ul class="page__menu">

    {% assign pages = site.pages | sort:"weight"  %}
    {% for p in pages %}

      {% if p.in-nav == true %}
      <li><a {% if p.url == page.url%}class="active"{% endif %} href="{{ p.url }}">{{ p.title }}</a></li>
        {% endif %}
    {% endfor %}

        </ul>
    </div>
