/*
=========
 General
=========
*/

body {
  background-color: $body-color;
  width: 100%;
  margin: 0;
}

::selection {
  background: $highlight-color;
  color: #000;
}

-webkit-scrollbar-thumb {
  background: linear-gradient(90deg,#00FFB8,#32E1FF);
}
