@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Playfair Display', serif;
  font-weight: 200;
  font-size: 18px;
  overflow: scroll;
}

.LukeSkinner h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  font-weight: lighter;
  position: absolute;
  top: 30%;
  left: 42%;
}

.main-menu {
  padding: 15px;
  margin-right: auto;
  width: 175px;
  text-decoration: none;
}

.menu a {
  display: block;
  margin-right: auto;
  color: #000;
  padding-top: 12px;
  text-decoration: none;
  width: 110px;b
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 5px #222222;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.menu a:link {
  text-decoration: none;
}

.menu a:hover {
    color: #7ec4cd;
}

.li:active {
    color: #7f5df4;
    border: #292929 1px;
}

.li {
  text-align: center;
}

.underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #292929;
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.underline-from-left:hover:before, .underline-from-left:focus:before, .underline-from-left:active:before {
  right: 0;
}
