@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

.main__title h2 {
  font-size: 15px;
  font-family: 'EB Garamond', serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.title2 h1 {
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;

}
