<!DOCTYPE html>
<html>
<script type="text/javascript">
(function() {

  var menubutton = document.querySelector('.menubtn'),
    menu = document.querySelector('.menu'),
    closebutton = document.querySelector('.closebtn'),
    content = document.querySelector('body');

  menubutton.onclick = function() {
    menu.classList.toggle('hide');
    content.classList.toggle('noscroll');
  }

  closebutton.onclick = function() {
    menu.classList.toggle('hide');
    content.classList.toggle('noscroll');
  }


}());
</script>
  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">

      <div class="container">
        <div class="row">
        {{ content }}
      </div>
</div>

    </div>

    {% include footer.html %}

  </body>

</html>
