<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>

<body>
<div class="window">

  {% include header.html %}

<div class="content__wrapper">
  <div id="page__content">
    <div class="page__title">
      <h2>{{ page.title }}</h2>
      <div class="title__divider"><hr></div>
    </div>
    <img alt="Luke Skinner -- The Cooper Union" src="/uploads/me/3.jpg"/>
    {{ content }}
  </div>
</div>

  {% include footer.html %}

</div>

<script src="assets/js/menu.js"></script>
</body>

</html>
